@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Team-Up aims to eliminate the hassle of searching for coding partners. We simply wanted to formalize team building and extract development opportunities to a single - specialized platform. <br />
    The idea came from personal experience (or rather hardships). When you believe you have the perfect solution to some problem, then you want nothing more than to dive right into solving it. <br /> <br />
    That's the goal of Team-Up. <br />We want the thinking process to be <b>I've got it!</b> <b style="text-decoration: line-through">But who will help me?</b> <b>Let's get to work.</b> <br /></p>
